@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.outside_field{

    display: flex;
    flex-direction: column;


}
.outside_field h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    color:  #9966CC;
    text-shadow: 1px 1px 6px #A593E0;
    font-size: 50px;
    
}

/* FIRST SECTION OF HOME : Advise to buy*/
.container { /*tableau contenant les images de présentation*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,400px));
    justify-content: center;
    z-index: -1;
    padding-top: 20px;

}
  
.image-container {
    display: flex;
    transition: all .40s;
    flex-direction: column;
    position: relative;
    justify-content: center; /* center the content vertically */
    align-items: center;
    padding: 25px;

}

  
.image-container img {  /*propriétées de l'image de présentation*/
    width: 300px;
    height: 300px; /* set a fixed height for the images */
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.overlay { /*position et opacité de la classe qui contient le texte des images*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    transition: opacity 0.3s ease; 
}
  
.text {
    color: white;
    font-weight: 600;
    font-size: 40px; /*change la taille du texte dans les image prez*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.image-container:hover .overlay {
     opacity:1;
}
  
.image-container:hover img {
    transform: scale(1.2);
    filter: brightness(54%);
    
}

.button_home a{
    display: flex;
    padding-top: 20px;
    text-decoration: none;
    padding-bottom: 20px;
}

.buy-button {

    margin: 0 auto;

    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: #A593E0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: 0.5s;
    letter-spacing: 2px;
    box-shadow: 0 2px 9px #A593E0;
    padding: 20px 26px 10px;

  }


  .buy-button:hover{
    background-color: #9966CC;
}