h1{
    text-align: center;
}

.container { /*tableau contenant les images de présentation*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,400px));
    justify-content: center;
    z-index: -1;
    padding-top: 20px;

}
  
.image-container {
    display: flex;
    transition: all .40s;
    flex-direction: column;
    position: relative;
    justify-content: center; /* center the content vertically */
    align-items: center;
    padding: 25px;

}

  
.image-container img {  /*propriétées de l'image de présentation*/
    width: 300px;
    height: 300px; /* set a fixed height for the images */
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.overlay { /*position et opacité de la classe qui contient le texte des images*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    transition: opacity 0.3s ease; 
}
  
.text {
    color: white;
    font-size: 40px; /*change la taille du texte dans les image prez*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.image-container:hover .overlay {
     opacity:1;
}
  
.image-container:hover img {
    transform: scale(1.2);
    filter: brightness(54%);
    
}

.button_home a{
    display: flex;
    padding-top: 20px;
    text-decoration: none;
}

.buy-button {
    height: 50px;
    width: 150px;
    font-size: 20px;

    margin: 0 auto;
  }
.bouton_buy button:active {
    filter: brightness(-54%);

}

  