
/* ---------------------- POPUP MESSAGE -------------------------- */
.popup_message{
    width: 400px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    border: 1px solid rgba(0,0,0,0.4) ;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    z-index: 9999;
    /* TRANSITIONS*/
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
    
}


.open_popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


.popup_message img{
   width: 100px;
   margin-top: -50px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.popup_message h2{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top : 30px;
    margin-right: 0;
    margin-bottom: 10px;
}

.popup_message button{
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    background: #9966CC;
    cursor: pointer;
    outline: none;
    font-size: 0.95rem;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin-top: 25px;
}

.popup_message p{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
 }


/* ---------------------- OUTSIDE -------------------------- */
.outside_field{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


}
.outside_field h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    color:  #9966CC;
    text-shadow: 1px 1px 6px #A593E0;
    font-size: 50px;
}


.outside_field p {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
    opacity: 0.8;
    margin-top: 8px;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}


/* ---------------------- CONTACT US FIELD -------------------------- */


.container{
    position: relative;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.form{
    width: 100%;
    position: relative;
    height: 550px;
    max-width: 920px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgb(0,0,0,0.5);
    display:grid;
    /* To have the border radius even on the 2 forms*/
    overflow: hidden;
    /* to take full width of the grid container, we use fr instead of px*/
    grid-template-columns: repeat(2,1fr);
}


/* ---------------------- CONTACT FORM -------------------------- */
.contact_form{
    background-color: #A593E0;
    position: relative;
}

.contact_form:before{
    content: "";
    background-color: #A593E0;
    transform: rotate(45deg);
    position: absolute;
    width: 46px;
    height: 46px;
    top: 100px;
    left: -21px;
    border-radius: 50px;
}

.contact_form:after{
    content: "";
    background-color: #A593E0;
    transform: rotate(45deg);
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: 100px;
    left: -21px;
    border-radius: 50px;
}


.title{
    color: white;
    font-size: 2rem;
    margin-bottom: 11.2px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.test{
    display: flex;
    
}
.required_field{
    font-family: 'Poppins', sans-serif;
    color:white;
    opacity: 0.5;
    font-style: italic;
    position: absolute;
    left: 300px;
    bottom: 3px;
}

form{
    padding-top: 10px;
    padding-left: 25px; 
}

.input_field{
    position: relative;
    /* Define the space between the fields input*/
    margin: 16px 0;
}

.input_field_reason{
    position: relative;
    /* Define the space between the fields input*/
    margin: 16px 0;
    padding-left: 5px;
}

.input{
    border: 1px solid white;
    width: 80%;
    border-radius: 15px;
    font-weight: 500;
    font-size: 0.95rem;
    /* We use padding to increase the size of the field*/
    padding: 9px 18px;
    background-color: transparent;
    /* Remove the outline applying when selecting a field*/
    outline: none;
    letter-spacing: 0.8px;
    transition: 0.5s;
    color: white;
}

textarea.input{
    resize: none;
    padding: 12px 18px;
    min-height: 145px;
    border-radius: 13px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    transition: 0.5s;
    font-size: 0.95rem;
}

/* Class to define the label inside the field*/
.input_field label{
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
    transition: 0.5s;
}

.input_field_reason label{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


/* Class to define the label of the message fiel inside*/


.input_field_big_textArea label{
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 209.5px;
    left: 40px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
    transition: 0.2s;
}

.input_field_reason select {
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    font-size: 0.95rem;
    outline: none;
    color: #A593E0;
    position: relative;
    left: 8px;
  }

  
.submit_button{
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-size: 0.95rem;
    color: #A593E0;
    line-height: 1;
    transition: 0.5s;
    /*Increase size of box*/
    padding: 8px 18px;
    position: relative;
    bottom: -20px;
}

.submit_button:hover{
    background-color: transparent;
    color: white;
}

/* -------- FORM - Placeholder above field ----------------- 
From Here, we are trying to put blocks space for the labels of our forms, 
*/

.input_field span {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    /* We only want the text to be seen when we're selecting
    the field (to be done in Javascript)*/
    color: transparent;
    /* Since span is still an input field, we have the pointer for
    writing on a field so we remove it*/
    pointer-events: none;
    padding-left: 0 0.4rem;
    position: absolute;
    left: 25px;
    top:0;
    transform: translateY(-50%);
    z-index: 500;
    height: 18px;
}
.input_field span:before, .input_field span:after{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height:5px;
    /* We hide them because we only want to
    display them with our javascript code*/
    opacity: 0;
    width: 10%;
    transition: 0.3s;
    background-color: #A593E0;

}

.input_field span:before{
    left: 50%;
}.input_field span:after{
    right: 50%;
}

/* Same for the message input*/
.input_field_big_textArea span {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    pointer-events: none;
    padding-left: 0 0.4rem;
    position: absolute;
    left: 50px;
    bottom: 242px;
    transform: translateY(-50%);
    z-index: 500;
    height: 18px;
}
.input_field_big_textArea span:before, .input_field_big_textArea span:after{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height:5px;
    width: 10%;
    background-color: #A593E0;
    opacity: 0;
    transition: 0.3s;
}
.input_field_big_textArea span:before{
    left: 50%;
}
.input_field_big_textArea span:after{
    right: 50%;
}


/* We move the label of the input above the span element,
then show the before/after when the user is selecting(focused) the field*/

.input_field.focus label{
    top: 0;
    left: 19px;
    font-size: 0.8rem;
    transform: translateY(-50%);
    z-index: 1000;
}

.input_field.focus span:before, 
.input_field.focus span:after{
    opacity: 1;
    width: 55%;
}
/*Same for message*/
.input_field_big_textArea.focus label{
    bottom: 240px;
    left: 44px;
    font-size: 0.8rem;
    transform: translateY(-50%);
    z-index: 1000;
}

.input_field_big_textArea.focus span:before, 
.input_field_big_textArea.focus span:after{
    opacity: 1;
    width: 55%;
}

/* --------------- OUR CONTACT INFO -------------------------- */

.contact_info .title{
    color: #A593E0;
}

.text{
    color: rgb(62, 57, 57);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    opacity: 0.5;
}   

.our_contact_information{
    /* To put text next to icon*/
    display: flex;
    align-items: center;
    margin: 13px 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    opacity: 0.8;
    color: rgb(62, 57, 57);
}


.icon{
    width: 25px;
    margin-right: 8px;
}

.contact_info{
    padding: 10px 38px;
    position: relative;
}

.social_media {
    padding: 1rem 0 0 0;
}

/* Connect with ____*/
.social_media h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 800;
    background-color: #9966CC;
    opacity: 0.9;
    box-shadow: 0 0 2px 0 black;
    border-radius: 10px;
    width: 175px;
    text-align: center;
}

.social_media_icons{
    /* To space the icons so their background doesn't touch*/
    display:flex;
    margin-top: 0.5rem;
}

.social_media_icons a{
    width: 35px;
    height:35px;
    border-radius: 20px;
    background: linear-gradient(45deg, #A593E0, #9966CC);
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
    margin-bottom: 12px;
}

.social_media_icons a:hover{
    transform: scale(1.3);
}

/* --------------- SOME DECORATIONS FOR THE BOX ------------------ */

.contact_info:before{
    content: "";
    position: absolute;
    width: 170px;
    height: 175px;
    border: 22px solid #A593E0;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    left: 275px;
}

.big_circle_behind{
    position: absolute; 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(0.25turn,white,#9966CC);
    bottom: 46%;
    right: 50%;
    transform: translate(-40%,38%);
}

@media only screen and (max-width: 768px) {
    .form {
      display: block;
      height: auto;
      max-width: 90%;
      border-radius: 0;
      box-shadow: none;
    }
  
    .contact_form:before,
    .contact_form:after {
      display: none;
    }
  
    .title {
      text-align: center;
      margin-bottom: 20px;
    }
  
    form {
      padding: 0;
    }
  
    .input_field,
    .input_field_reason {
        text-align: center;
    }
  
    .input {
      width: 95%;
    }
  
    textarea.input {
      min-height: 120px;
    }

  
    .submit_button {
      width: 100%;
      bottom: 0;
      margin-bottom: 20px;
    }
  
    .contact_info:before {
      display: none;
    }
  
    .big_circle_behind {
      display: none;
    }

    .input_field_big_textArea textarea {
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .input_field_big_textArea{
        padding-bottom: 40px;
    }

    .input_field, .input_field_reason {
    margin-bottom: 40px;
    }
    
    .input_field_big_textArea label[for="message"] {
        display: none;
    }
    
    .required_field{
        display: none;
    }


  }
  