@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ---------- GENERAL -----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgb(255, 252, 252);
}

section {
    margin-top: 130px;
  }


.separation_div{
  background-color: white;
  height: 10px;
  margin-bottom: -80px;
  box-shadow: 0 2px 9px #A593E0;

}

  /* ------------ NAVBAR-------------*/


.nav_bar{
    display: flex;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: rgb(249, 247, 247);
    padding: 0.5vw 6vw;
    top: 0;
    left: 0;
    box-shadow: 0 2px 9px #A593E0;
}

#logo{
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9966CC;

}

/* ------------- NAV BAR -------------*/

.menu-toggle {
  display: none;
}

.elements_of_navbar{
    display: flex;
    margin: auto 0;
}

.elements_of_navbar li a{
    display: block;
    color: #A593E0;
    font-size: 24.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.elements_of_navbar li{
    list-style: none;
    margin: 0 25px;
}

.elements_of_navbar li:hover a{
    color: black;
}

/* ---------- SOCIAL MEDIA ICONS ON THE SIDE ------*/
.social_icons{
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: -265px;
    z-index: 1000;
    color: white;
    text-decoration: none;
}

.icon_text{
    font-family: 'Poppins', sans-serif;
}
 
.social_icons .fa{
    width: 330px;
    padding: 15px;
    font-size: 42px;
    cursor: pointer;
    background: #A593E0;
    border-bottom: 1px black;
    transition: 0.5s ease;
    margin-bottom: 10px;
}

.social_icons .fa span{
    position : relative;
    font-size: 1.8vw;
    bottom: 0.3vw;
    margin-left: 1.8vw;
}

.social_icons .fa:hover{
    color: white;
    font-weight: 600;
    transform: translateX(-8vw);
}



/* ------------- HEADER ----------*/
.wrapper{
    display: flex;
    width: 100%;
    /* To lower the block of "welcome we're artists"*/
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
    overflow: hidden;
}

.welcome_text{
    display: block;
    position: relative;
    font-size: 25px;
    letter-spacing: 5px;
    color: rgb(49, 44, 44);
}

/* To put a sort of ___ after the welcome text*/
.welcome_text:after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #9966CC;
}

.artist_text{
    color: #9966CC;

    white-space: nowrap;
    border-right: 0.15em solid #000; /* Cursor effect */
    animation: typing 3s steps(40) infinite;
}
@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
  }

h1{
    font-size: 95px ;
    font-weight: 800;
    color: #A593E0;
    display: block;
}

p{
    display: block;
    color:#A593E0;
    font-size: 16px;
}

/* --------- BUTTONS IN HEADER --------*/
.header_buttons{
  margin-top: 40px;
  display: flex;
  justify-content: center
}
.button{
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: #A593E0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    line-height: 1;
    transition: 0.5s;
    /*Increase size of box*/
    letter-spacing: 2px;
    box-shadow: 0 2px 9px #A593E0;
    padding: 20px 26px;
    margin: 35px 10px;
}

.button:hover{
    background-color: #9966CC;
}

/* ------------- IMAGE AT THE CENTER ------*/
.splash_box{
    position: relative;
    width: 100%;
    height: 100%;
}
.splash_box img{
    position: relative;
    height: 100%;
    width: 570px;
    top: -20px;
    right: 50px;
    transform: rotateY(180deg);
    /* From Youtube Video*/
    animation: animateCenterImage 3s linear infinite;
}
@keyframes animateCenterImage{
    50%{
        right: 30px;
        bottom: 200px;
    }
}

.splash_box #splash{
    position: absolute;
    top: 80px;
    left: 350px;
    transform: rotate(-35deg) translate(-50%, -50%) ;
    animation: animate_splash 3s linear infinite;
    filter: saturate(200%);
    width: 530px;
    height: 470px;
    opacity: 0.6;
}


@keyframes animate_splash{
    50%{
        top: 75px;
        left: 330px;
    }
}




/* ---------------------- FOOTER -------------------------- */


footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    background:  rgb(249, 247, 247);;
    box-shadow: 0 2px 9px #A593E0;
  }

  .footer_container{
    width: 100%;
    padding: 30px 30px 20px;
  }


/* SOCIAL MEDIAS ICONS */
  .footer_social_icons{
    display: flex;
    justify-content: center;
  }

  .footer_social_icons a{
    text-decoration: none;
    border-radius: 50%;
    margin: 8px;
    background-color: #A593E0;
    padding: 12px;
  }
  .footer_social_icons a:hover{
    background-color: #e5dbee;
    transition: 0.5s;
    transform: scale(1.4);
  }
  
  .footer_social_icons a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
  }

  .footer_social_icons a:hover i{
    color: black;
    transition: 0.5s;
  }

  /* NAVIGATION BAR FOOTER*/

  .footer_nav{
    margin: 30px 0;
  }

  .footer_nav ul {
    display:flex;
    justify-content: center;
    list-style: none;
  }

  .footer_nav ul li a {
    margin: 20px;
    font-size: 1em;
    opacity: 0.7;
    color: #9966CC;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 1px #000;
  }

  .footer_nav ul li a:hover {
    opacity:1;
    color:rgb(49, 44, 44);
  }
  

  /* BOTTOM OF THE FOOTER WITH THE CREDIT*/
  .footer-bottom {
    position: relative;
    display: flex;
    border-top: 1px solid #9966CC;
    padding: 20px;
    justify-content: center;
  }
  .footer-bottom p{
    color: #9966CC;
  }

  .designed_by{
    opacity: 0.7;
    text-transform: uppercase;
    margin: 0px 5px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  /*Validation*/
.validation {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 700px) {

  .footer_nav ul{
    flex-direction: column;
  }
  .footer_nav ul li{
    width: 100;
    margin: 10px;
    text-align: center;
  }
  .splash_box img {
    display:none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper > div:first-child {
    order: 1;
  }
  h1 {
    font-size: 42px;
    order: 3;
  }
  p {
    order: 4;
  }
  .splash_box {
    order: 5;
  }
  .header_buttons {
    order: 6;
  }
  .header_buttons .button {
    font-size: 14px;
    padding: 8px 12px;
  }
  .menu-toggle {
    display :block;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: #A593E0;
    font-size: 10px;
    font-weight: 600;
    color: white;
    line-height: 1;
    transition: 0.5s;
    letter-spacing: 2px;
    box-shadow: 0 2px 9px #A593E0;
    padding: 10px 13px;
    margin: 35px 10px;
}

  .elements_of_navbar {
    display: none;
  }
  .show {
    display: block;
  }
  .social_icons .fa {
    display:none
  }


}




